<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon
      slot="start"
      name="chevron-back"
      class="ion-padding-start"
      (click)="clearChat()"
      [routerLink]="['/home']"
    ></ion-icon>

    <ion-title class="ion-text-center">
      <ion-icon name="person-circle-outline"></ion-icon>
      Chat
    </ion-title>

    <ion-icon
      slot="end"
      name="call-outline"
      class="ion-padding-end"
      (click)="callUser()"
    ></ion-icon>

    <ion-icon
      slot="end"
      name="ellipsis-vertical-outline"
      class="ion-padding-end"
      id="config-menu"
    ></ion-icon>
    <ion-popover trigger="config-menu" triggerAction="click">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item button id="nickname-menu">
              <ion-icon
                name="pencil-outline"
                class="ion-padding-end"
              ></ion-icon>
              Change nickname
            </ion-item>

            <ion-alert
              trigger="nickname-menu"
              header="Please enter the new nickname"
              [buttons]="inputButtons"
              [inputs]="nicknameInputs"
              (didDismiss)="setNicknameResult($event)"
            ></ion-alert>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #ioncontent [scrollEvents]="true">
  <ion-list [inset]="false" lines="none">
    @for (message of messages; track $index) {
    <app-message-item
      [cid]="chatId"
      [uid]="message.uid"
      [message]="message.content"
      [date]="message.date"
      [type]="message.type"
    ></app-message-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <form (ngSubmit)="sendMessage()">
    <ion-grid *ngIf="file">
      <ion-row class="ion-margin-start">
        <ion-col size="2">
          <app-file-card [type]="typeMessage" [file]="file" />
          <ion-button color="danger" (click)="unselectFile()"
            >delete</ion-button
          >
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-toolbar>
      <ion-icon
        name="add-outline"
        slot="start"
        id="file-menu"
        class="ion-padding-start ion-padding-end"
      ></ion-icon>
      <ion-popover trigger="file-menu" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-grid>
              <ion-row>
                <ion-col size="6" (click)="takePicture()">
                  <ion-icon name="image-outline"></ion-icon>
                  <ion-label>Image</ion-label>
                </ion-col>
                <ion-col size="6" (click)="pickVideo()">
                  <ion-icon name="videocam-outline"></ion-icon>
                  <ion-label>Video</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6" (click)="pickFile()">
                  <ion-icon name="document-text-outline"></ion-icon>
                  <ion-label>Document</ion-label>
                </ion-col>
                <ion-col size="6" (click)="getLocation()">
                  <ion-icon name="location-outline"></ion-icon>
                  <ion-label>Location</ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-popover>

      <ion-textarea
        type="text"
        placeholder="Type a message"
        class=""
        [(ngModel)]="content"
        name="message"
      >
      </ion-textarea>

      <ion-icon
        name="mic-outline"
        slot="end"
        class="ion-padding-end ion-padding-start"
        *ngIf="!recording"
        (click)="startRecording()"
      ></ion-icon>

      <ion-icon
        name="stop-circle-outline"
        slot="end"
        class="ion-padding-end ion-padding-start"
        *ngIf="recording"
        (click)="stopRecording()"
      ></ion-icon>

      <ion-button type="ngSubmit" fill="clear" slot="end">
        <ion-icon
          name="send-outline"
          slot="end"
          class="ion-padding-end"
          type="ngSubmit"
        ></ion-icon>
      </ion-button>
    </ion-toolbar>
  </form>
</ion-footer>
