<ion-item [ngClass]="{ 'flex-end': isCurrentUser }">
  <ion-avatar [slot]="isCurrentUser ? 'end' : 'start'" class="ion-no-margin">
    <img
      [src]="isCurrentUser ? sender.imageUrl : receiver.imageUrl"
      alt="picture"
    />
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="sender || receiver">{{
        isCurrentUser ? sender.name : receiver.name
      }}</ion-card-title>
      <ion-card-subtitle>
        {{ date.toDate() | date : "MMM d, HH:mm" }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [ngSwitch]="type">
      <p *ngSwitchCase="typeMessage.TEXT">{{ message }}</p>
      <img *ngSwitchCase="typeMessage.IMAGE" [src]="message" alt="image" />
      <video
        *ngSwitchCase="typeMessage.VIDEO"
        [src]="message"
        class="video-message"
        controls
      ></video>
      <div *ngSwitchCase="typeMessage.FILE">
        <a [href]="message" download class="ion-text-center"
          ><ion-icon name="document-outline"></ion-icon>{{ getFileName() }}</a
        >
      </div>
    </ion-card-content>
  </ion-card>
</ion-item>
