<ion-item [ngClass]="{ 'flex-end': isCurrentUser }">
  <ion-avatar [slot]="isCurrentUser ? 'end' : 'start'" class="ion-no-margin">
    <img
      [src]="isCurrentUser ? sender.imageUrl : receiver.imageUrl"
      alt="picture"
    />
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title *ngIf="sender || receiver">{{
        isCurrentUser ? sender.name : receiver.name
      }}</ion-card-title>
      <ion-card-subtitle>
        {{ date.toDate() | date : "MMM d, HH:mm" }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      @switch (type) {
        @case (typeMessage.TEXT) {
          <p>{{ message }}</p>
        }
        @case (typeMessage.IMAGE) {
          <img [src]="message" alt="image" />
        }
        @case (typeMessage.VIDEO) {
          <video
            [src]="message"
            class="video-message"
            controls
          ></video>
        }
        @case (typeMessage.FILE) {
          <a [href]="message" download>
            <ion-icon name="document-outline"></ion-icon>{{ getFileName() }}
          </a>
        }
        @case (typeMessage.AUDIO) {
          <audio controls [src]="message" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        }
        @case (typeMessage.LOCATION) {
          <a (click)="setLocation()">Watch location</a>
          <div id="map" ></div>
        }
      }
    </ion-card-content>
  </ion-card>
</ion-item>